<div class="container-fluid questions-bg"></div>
  <header class="masthead mb-auto">
    <div class="inner d-flex justify-content-between align-content-center mb-4 pt-2 px-5">
      <%= link_to "/", class: "banner-logo" do %>
        <%= image_tag "logo.png" %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "main-banner-link" %>
      <% else %>
        <div class="main-banner-nouser-link d-flex align-content-center justify-content-end">
          <%= link_to "Sign up", new_user_registration_path, class: "main-banner-link" %>
          <%= link_to "Login", new_user_session_path, class: "main-banner-link" %>
        </div>
      <% end %>

    </div>
  </header>



  <div class="tinder--cards js-scroll">
    <% @questions.each do |question|%>
      <div class="tinder--card">
        <%= image_tag question.photourl%>
        <p class="questions-cards-questions"><%= question.description%> </p>
      </div>
    <% end %>
  </div>

  <div class="tinder--buttons">
    <button id="nope">
      <i class="fa fa-times" style="color: #6850d0;"></i>
    </button>
    <button id="love">
      <i class="fa fa-heart"></i>
    </button>
  </div>

</div>
