<div class="cover-container d-flex p-3 mx-auto flex-column main-banner">
  <header class="masthead mb-auto">
    <div class="inner d-flex justify-content-between align-content-center my-3 px-4">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo.png", width: 80, height: 80 %>
      <% end %>

        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "main-banner-link" %>
        <% else %>
          <div class="main-banner-nouser-link d-flex align-content-center justify-content-end">
            <%= link_to "Sign up", new_user_registration_path, class: "main-banner-link" %>
            <%= link_to "Login", new_user_session_path, class: "main-banner-link" %>
          </div>
        <% end %>

    </div>
    <%# <div class="main-banner-text">
      <h2>Find your perfect match!</h2>
    </div> %>
  </header>
</div>





<%# <%= render "shared/navbar" %>


<%# /////////////////////////////////////////////////////////////////////////////// %>

<section class="content">
  <div class="container col-xxl-8 px-4 py-5 main-section">
      <div class="container-fluid">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <%= image_tag "image03.png", alt: "dog", width: 700, height: 500, class: "d-block mx-lg-auto img-fluid", loading: "lazy" %>
            </div>
            <div class="col-lg-6">
              <h2 class="display-5 fw-bold 1h-1 mb-3">MELHOR RAÇA</h2>
              <p class="lead">Do you wanna know which dog breed matches with your lifestyle? We introduce to you MELHOR RAÇA, the best way to find out!</p>

            </div>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 second-main-section">
        <div class="container-fluid">
          <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <%= image_tag "image04.png", alt: "dog", width: 700, height: 500, class: "d-block mx-lg-auto img-fluid", loading: "lazy" %>
            </div>
            <div class="col-lg-6">
              <h2 class="display-5 fw-bold 1h-1 mb-3">All breeds</h2>
              <p class="lead">Choosing a dog can be exciting and nerve-wracking at the same time. That is why we are here!  We hope to help you with your new big step family decision.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 pt-5 text-center last-main-section">
        <h2 class="display-4 fw-bold">Our quiz</h2>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
           Less questions, more precision.
           With us, you increase your chance to be happiest as ever with your new pet.
          </p>
          <div class="d-grip d-md-flex justify-content-md-center">
            <form action=<%="home/create_quiz"%> method="post"> <button type="submit" class="btn btn-lg px-4 me-md-2 start-now-btn">Start Quiz</button>
          </div>
        </div>
        <div class="d-block mx-auto">
          <div class="container px-5">
            <%# <%= image_tag "image06.png", alt: "dogs", width: 700, height: 500, loading: "lazy", class: "img-fluid" %>
          </div>
        </div>
      </div>
</section>

<%# /////////////////////////////////////////////// FOOTER ////////////////////////// %>




<footer class="footer-main-home">
  <div class="container p-3">
    <div class="row">
      <section class="">
      </section>
      <!-- Section: Social media -->
      <section class="mb-1 text-center">
        <!-- Facebook -->
        <a class="btn footer-btn btn-floating m-1" href="#!" role="button">
          <i class="fab fa-facebook-f" style="color: #50CB93;"></i>
        </a>

        <!-- Twitter -->
        <a class="btn footer-btn btn-floating m-1" href="#!" role="button">
          <i class="fab fa-twitter" style="color: #50CB93;"></i>
        </a>

        <!-- Google -->
        <a class="btn footer-btn btn-floating m-1" href="#!" role="button">
          <i class="fab fa-google" style="color: #50CB93;"></i>
        </a>

        <!-- Instagram -->
        <a class="btn footer-btn btn-floating m-1" href="#!" role="button">
          <i class="fab fa-instagram" style="color: #50CB93;"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn footer-btn btn-floating m-1" href="#!" role="button">
          <i class="fab fa-linkedin-in" style="color: #50CB93;"></i>
        </a>

        <!-- Github -->
        <a class="btn footer-btn btn-floating m-1" href="#!" role="button">
          <i class="fab fa-github" style="color: #50CB93;"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <hr class="mb-3" />
    <!-- Copyright -->
    <div class="text-center p-1">
      © 2020 Copyright:
      <a class="text-white" href="">MelhorRaça.com</a>
    </div>
    </div>
  </div>
</footer>
