
<header class="masthead mb-auto">
  <div class="inner d-flex justify-content-between align-content-center my-3 px-5">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png", width: 80, height: 80 %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "main-banner-link" %>
    <% else %>
      <div class="main-banner-nouser-link d-flex align-content-center justify-content-end">
        <%= link_to "Sign up", new_user_registration_path, class: "main-banner-link" %>
        <%= link_to "Login", new_user_session_path, class: "main-banner-link" %>
      </div>
    <% end %>

  </div>
</header>



<div class="container-fluid login-container">
  <div class="card d-grid gap-2 col-10 col-lg-6 mx-auto">
    <div class="card-header">
      <h2 class="text-center">Welcome</h2>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="card-body d-grid gap-2 col-10 col-lg-6 mx-auto sign-in-link">
      <div class="form-inputs form-group">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Login" %>
      </div>
    </div>
  </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
