<div class="container_fluid devise-login-bg">

  <header class="masthead mb-auto">
    <div class="inner d-flex justify-content-between align-content-center pt-3 px-4">
      <%= link_to "/", class: "banner-logo" do %>
        <%= image_tag "logo.png" %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "main-banner-link" %>
      <% else %>
        <div class="main-banner-nouser-link d-flex align-content-center justify-content-end">
          <%= link_to "Sign up", new_user_registration_path, class: "main-banner-link" %>
          <%# <%= link_to "Login", new_user_session_path, class: "main-banner-link" %> %>
        </div>
      <% end %>

    </div>
  </header>

  <%# DEVISE-LOGIN %>
  <div class="container-fluid login-container">
    <div class="card d-grid gap-4 col-10 col-lg-6 mx-auto devise-login-card">
      <div class="card-header devise-card-header">
        <h2 class="devise-card-text">Welcome</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="d-grid gap-2 col-10 col-lg-6 mx-auto sign-in-link">
        <div class="form-inputs form-group">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Login", class: "devise-login-btn" %>
        </div>
      </div>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "d-flex justify-content-center devise-forget-btn" %><br />
      <% end %>
    </div>
      <% end %>


      <%# <%= render "devise/shared/links" %>
  </div>
  <%# footer  %>
  <div class="container devise-footer-medias">
    <div class="row">
      <section class="mb-1 text-center">
        <a class="devise-media-btn btn-floating m-1" href="#!">
          <i class="fab fa-facebook-square devise-footer-media-icon"></i>
        </a>

        <a class="devise-media-btn btn-floating m-1" href="#!">
          <i class="fab fa-instagram devise-footer-media-icon"></i>
        </a>

        <a class="devise-media-btn btn-floating m-1" href="#!" >
          <i class="fab fa-linkedin-in devise-footer-media-icon"></i>
        </a>

        <a class="devise-media-btn btn-floating m-1" href="https://github.com/nanmartins/bestbreed" target="_blank">
          <i class="fab fa-github devise-footer-media-icon"></i>
        </a>
      </section>
    </div>

    <hr class="divider mt-4" />

    <div class="contaner-fluid d-flex align-items-center justify-content-center text-center devise-copyright">
      © 2022 yourpetmatch.
    </div>
    </div>
  </div>

</div>
